import init.sun8i.usb.rc

on early-init

    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755
    symlink /data/tombstones /tombstones

on init

	#insmod /nand.ko

	# Support legacy paths
	symlink /sdcard /storage/sdcard0

	# mkdir /databk 0700 root  system

on early-fs
	mount_all /fstab.sun8i
	swapon_all /fstab.sun8i

	insmod /system/lib/modules/disp.ko
	insmod /system/lib/modules/lcd.ko
	insmod /system/lib/modules/mali.ko
	
on post-fs-data
	#mkdir /data/media 0770 media_rw media_rw
	#mkdir /mnt/media/sdcard 0770 media_rw media_rw
	#restorecon_recursive /databk
	# Set indication (checked by vold) that we have finished this action
	setprop vold.post_fs_data_done 1

on boot
	insmod_modules wifi ifname=wlan0 if2name=p2p0
	# Disable suspend
# 	write /sys/power/wake_lock disablesuspend

on fs



#csi module
	insmod /system/lib/modules/videobuf-core.ko
	insmod /system/lib/modules/videobuf-dma-contig.ko
	insmod /system/lib/modules/cam_detect.ko
#	insmod /system/lib/modules/actuator.ko
#	insmod /system/lib/modules/ad5820_act.ko
	insmod /system/lib/modules/cci.ko
	insmod /system/lib/modules/vfe_os.ko
	insmod /system/lib/modules/vfe_subdev.ko
	insmod_modules camera
#	insmod /system/lib/modules/gc0308.ko
#	insmod /system/lib/modules/gc2035.ko
	insmod /system/lib/modules/vfe_v4l2.ko

#insmod tp and keyboard gsensor 
#	insmod /system/lib/modules/sw-device.ko
	#insmod /system/lib/modules/inet_ctp.ko
#	insmod /system/lib/modules/ft5x02.ko
	#insmod /system/lib/modules/ft5x_ts.ko
	#insmod /system/lib/modules/ft5402.ko
	insmod /system/lib/modules/gslX680new.ko
	#insmod /system/lib/modules/gslX680.ko
	#insmod /system/lib/modules/gt9xxf_ts.ko
	#insmod /system/lib/modules/gt9xx_ts.ko
	insmod /system/lib/modules/sunxi-keyboard.ko
	#insmod /system/lib/modules/bma250.ko
	insmod /system/lib/modules/mma865x.ko
	insmod /system/lib/modules/lsm330_acc.ko
	insmod /system/lib/modules/lsm330_gyr.ko
	
#inet_recovery
	insmod /system/lib/modules/inet_recover.ko


#insmod usb ethernet
	insmod /system/lib/modules/asix.ko
	insmod /system/lib/modules/qf9700.ko
	insmod /system/lib/modules/mcs7830.ko
	insmod /system/lib/modules/rtl8150.ko

	#insmod /system/lib/modules/8188eu.ko ifname=wlan0 if2name=p2p0
	#insmod /system/lib/modules/8189es.ko ifname=wlan0 if2name=p2p0

#service  sensors  /system/bin/sh  /system/bin/sensors.sh
#    user root
#    group root
#    disabled
#    oneshot
#    seclabel u:object_r:sensors_exec:s0

on property:sys.sensors=1
    chown root input /sys/devices/virtual/input/input2/enable
    chown root input /sys/devices/virtual/input/input2/delay
    chown root input /sys/devices/virtual/input/input5/enable
    chown root input /sys/devices/virtual/input/input5/delay
    #start sensors

# 1. realtek wifi service
# 1.1 realtek wifi sta service
service wpa_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
	#   we will start as root and wpa_supplicant will switch to user wifi
	#   after setting up the capabilities required for WEXT
	#   user wifi
	#   group wifi inet keystore
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot

# 1.2 realtek wifi sta p2p concurrent service
service p2p_supplicant /system/bin/wpa_supplicant \
	-ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -N \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -g@android:wpa_wlan0
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot


